{% extends '@SyliusShop/Form/theme.html.twig' %}

{% block _bitbag_elasticsearch_search_box_query_widget %}
    <div class="ui action input big cig">
        {{- form_widget(form) -}}
        <button type="submit" id="bitbag_elasticsearch_search_box_search" class="btn btn-primary"><i class="fa fa-search"></i></button>
    </div>
{% endblock %}
